* {
    font-family: 'Architects Daughter', cursive;
}

main {
    min-height: 82vh;
}

/*Header, Navigation*/
header {
    min-height: 70px;
    background-color: #ffef66;
    display: flex;
    align-items: center;
    position: sticky;
    /*top: 0;*/
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 0;
}

.wrapper a {
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-weight: 400;
    margin: 0 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*Images*/
.container-big-img {
    background: url("../images/cuba_car_paint1.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Container*/
.container-card {
    max-width: 800px;
    height: 400px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-body {
    width: 25%;
    height: 300px;
    border: 1px solid #dfd9d9;
    text-align: center;
}

.service-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 40%;
    width: 100%;
}

.img-1 {
    background-image: url("../images/cuba_car_paint8.jpg");
}

.img-2 {
    background-image: url("../images/cuba_car_paint1.jpg");
}

.img-3 {
    background-image: url("../images/cuba_car_paint5.jpg");
}

.card-content {
    padding: 5px;
    box-sizing: border-box;
}

.card-title {
    margin: 10px 0;
    text-align: center;
    padding: 0 5px;
}

.card-text {
    font-size: 16px;
    margin-top: 0;
    padding: 5px;
}

/*Map*/
iframe {
    width: 100%;
    height: 300px;
}

/*Footer*/
footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffef66;
    color: black;
}

/*Mobile*/
@media only screen and (max-width: 400px) {
    .wrapper {
        display: flex;
        justify-content: space-around;
    }

    .wrapper a {
        font-size: 18px;
    }

    .container-big-img {
        height: 150px;
    }

    .container-card {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .card-body:not(:last-child) {
        margin-bottom: 20px;
    }

    .card-body {
        width: 100%;
    }
}

/*forms*/
.form-body {
    display: block;
    width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 0 4px 6px 2px #baba91;
    background-color: #ffef66;
    font-size: 20px;
}

.input-field {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333399;
    height: 40px;
    font-size: 16px;
}

label {
    display: block;
    margin-bottom: 0.25rem;
}

.button {
    margin: 1rem 0;
    padding: 5px 20px;
    font-size: 16px;
    background-color: #ffef66;
}

.button:hover {
    background-color: black;
    color: #ffef66;
}

.message {
    color: red;
    font-size: 15px;
    font-weight: bold;
}

.error {
    color: red;
    font-size: 15px;
    font-weight: bold;
}

::placeholder {
    color: #d5d5d7;
    font-size: 14px;
}

.feedbackinput-field {
    margin: 50px auto;
    max-width: 400px;
    border: none;
}

.form-body2 {
    display: flex;
    flex-direction: column;
    width:670px;
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 0 4px 6px 2px #baba91;
    background-color: #ffef66;
    font-size: 20px;
}

.form-body2 > label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/*all pages*/
.main-background {
    background-image: url("../images/Form-bp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;

}

/*table*/
table {
    width: 50%;
    margin: 30px auto;
}

thead > tr > th {
    color: #ffef66;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    margin: 0;
    padding: 10px;
}

thead > tr > th:nth-child(2) {
    width: 50%;
}

tbody > tr > td {
    font-size: 18px;
    padding: 10px;
    background-color: black;
    color: #ffef66;
}

.feedback-msg {
    width: 50%;
    margin: 30px auto;
    text-align: center;
}

.feedback-msg > span > a {
    font-size: 25px;
    color: #ffef66;
    text-align: center;
    background-color: black;
}

.feedback-msg > span > a:hover {
    color: red;
}

h1 {
    text-align: center;
    color: #ffef66;
}