*{font-family: 'Architects Daughter', cursive;}

/*Header*/

header {
    min-height: 70px;
    background-color: #ffef66;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 0;
    /*position: relative;*/
}

.wrapper a {
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-weight: 400;
    margin: 0 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*Images*/
.container-big-img {
    background: url("../images/cuba_car_paint1.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Container*/
.container-card {
    max-width: 800px;
    height: 400px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-body {
    width: 25%;
    height: 260px;
    border: 1px solid #dfd9d9;
}

.service-img {
    height: 40%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.img-1 {
    background-image: url("../images/cuba_car_paint8.jpg");

}

.img-2 {
    background-image: url("../images/cuba_car_paint1.jpg");

}

.img-3 {
    background-image: url("../images/cuba_car_paint5.jpg");
}

.card-content {
    padding: 5px;
    box-sizing: border-box;
    flex-grow: 1;
}

.card-title {
    margin: 10px 0;
    text-align: center;
    padding: 0 5px;
}

.card-text {
    font-size: 15px;
    margin-top: 0;
    padding: 5px;
}

/*Footer*/
footer {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffef66;
    color: black;
}
/*Map*/

iframe {
    width: 100%;
    height: 300px;
}



@media only screen and (max-width: 400px) {
    .wrapper, main, footer {
        width: 400px;
    }

    .container-big-img {
        height: 150px;
    }

    .container-card {
        height: auto;
        /*max-width: 400px;*/
        flex-direction: column;
        justify-content: space-around;
    }

    .card-body:not(:last-child) {
        margin-bottom: 20px;
    }

    .card-body {
        width: 40%;
        height: 260px;
    }

    .card-text {
        font-size: 12px;
        margin-top: 0;
      }
}


/*form*/
.form-body {
    display: block;
    width: 400px;
    margin: 2rem auto;
    padding: 1rem;
    box-shadow: 0 4px 6px 2px #baba91;
    background-color: #ffef66;
    font-size: 20px;
}

.input-field {
    width: 100%;
    border: none;
    border-bottom: 1px solid #333399;
    height: 40px;
    font-size: 16px;
}

label{
    display: block;
    margin-bottom: 0.25rem;
}

select > option {
    display: block;
    margin-bottom: 0.25rem;
    width: 100%;
}

.button {
    margin: 1rem 0;
    padding: 5px 20px;
    font-size: 16px;
    background-color: #ffef66;
}

.button:hover {
    background-color: black;
    color: #ffef66;
}

.message {
    color: red;
    font-size: 15px;
    font-weight: bold;
}
.error {
    color: red;
    font-size: 15px;
    font-weight: bold;
}

::placeholder{
    color: #d5d5d7;
    font-size: 14px;
}







